{% extends "index.html" %}
{% block title %}введите заголовок и содержаение заяки{% endblock %}
{% block content %}
<h1 class="text-center">Заголовок и содержание заявки</h1>
<br>
<div class="row d-flex justify-content-center">
<div class="col-md-16">
<p>Введите в поля ниже текст заголовка и содержания заявки.</p>
<br>
    <form method="POST" action="{{ url_for('predict_form') }}">
        <div class="form-group row">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field.label(class="col-form-label col-sm-6") }}
                {{ field(class="form-control col-sm-16") }}
            {% endfor %}
        </div>
         <div class="text-center">
        <button type="submit" class="btn btn-info">Предсказание категории</button>
         </div>
    </form>
</div>
</div>
{% endblock %}