{% extends "index.html" %}
{% block title %}Результат{% endblock %}
{% block content %}
    {% if not response.error %}
    <div class="row d-flex justify-content-center">
    <div class="col-md-16">
        <div class="card">
            <div class="card-header text-center">
                <h2>Результат</h2>
            </div>
            <div class="card-body">

            <p class="card-text"><h5>Заявка вероятно относится к категории: <b>{{ response }}</b></h5></p>
			<p class="card-text">Возможные категории заявок: </p>
			<ul>
			  <li><b>0</b> - недостаточно данных/общая консультация/какая-то дичь</li>
			  <li><b>1</b> - общая проблема/задача с ПК/ОС/антивирусная проверка/ИБП (не включается, не запускается, создание/перемещение РМ, активация ОС, мышки, мониторы и пр.)</li>
			  <li><b>2</b> - переферия/печать/сканирование (принтер/сканер/МФУ/плоттер - подключение, проблема печати, настройка, дрова)</li>
			  <li><b>3</b> - права доступа (к папкам, базам - предоставить/проблема)</li>
			  <li><b>4</b> - 1С (установка, проблемы в работе, обновление, классификатор)</li>
			  <li><b>5</b> - работа почты пользователей (настройка, проблемы внутри почты, web, настройка на телефоне)</li>
			  <li><b>6</b> - учетные записи/аккаунты (доменные/почтовые/списки рассылки/1С - создание/информация/блокировка/проблемы со входом/предоставление паролей)</li>
			  <li><b>7</b> - удаленный доступ (предоставление/проблема)</li>
			  <li><b>8</b> - сеть (оборудование/интернет/локалка/wi-fi/отсутствие доступа к сетевому оборудованию)</li>
			  <li><b>9</b> - MS Office (word, excel, power point, access - установка, проблемы, активация)</li>
			  <li><b>10</b> - сервер (почтовый/терминальный/файловый/web/1C и пр. резервное копирование/восстановление, создание баз, кнопки выключения, чиска кэша, сброс сеансов пользователей, настройка синхронизации)</li>
			  <li><b>11</b> - телефон/телефония установка, настройка, подключение, переадресация и пр.</li>
			  <li><b>12</b> - прочее прикладное ПО/сервисы/оборудование в т.ч. документооборот, банк-клиенты и прочие консультанты</li>
			  <li><b>13</b> - замена/заправка картриджа</li>
			  <li><b>14</b> - закупки (консультация по покупке/запрос счета  и пр.)</li>
			  <li><b>15</b> - переезд/инвентаризация/профвыезд</li>
			  <li><b>16</b> - видеонаблюдение, видеокамеры</li>
			</ul>

               <div class="text-center">
                    <a href="{{ url_for('predict_form') }}" class="btn btn-primary">Назад</a>
               </div>
            </div>
        </div>
    {% else %}
        <div class="card">
        <div class="card-header text-center">
            <b>Error</b>
        </div>
        <div class="card-body">
            {% if response.error == 'ConnectionError' %}
                <p class="card-text text-center">Нет связи с ML сервисом</p>
            {% else %}
                <p class="card-text text-center">Ошибка ML сервиса</p>
        {% endif %}
        <div class="text-center">
                <a href="{{ url_for('predict_form') }}" class="btn btn-primary">Назад</a>
        </div>
        </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}